/*especificidad: a=0, b=0, c=1 -> 1*/
main {
    margin: 2em;
    padding: 0.5em 3em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-stretch: semi-condensed;
    padding: 0.5em 3em;
    margin: 1em 1em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h2, h3, h4, h5, h6 {
    text-align: center;
}

/*especificidad: a=0, b=1, c=2 -> 12*/
ul.menu li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0.5em 3em;
    margin: 1em 1em;
    text-align: center;
    text-transform: uppercase;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h1, h2 {
    color: #520080;
    background-color: transparent;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h3, h4, h5, h6 {
    font-style: italic;
    color: #520080;
    background-color: transparent;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h1 {
    font-size: 3em;
    letter-spacing: 0.5em;
    border: solid;
    text-align: center;
    border-radius: 2em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h2 {
    font-size: 2.5em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h3 {
    font-size: 2em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h4 {
    font-size: 1.5em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h5 {
    font-size: 1em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h6 {
    font-size: 0.5em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
p, ul, ol, table {
    font-family: Verdana, Geneva, Tahoma, serif;
    font-size: 1em;
    color: black;
    background-color: #fff;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
ul {
    list-style: disc;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
ol {
    list-style-type: upper-roman;
}

/*especificidad: a=0, b=1, c=1 -> 11*/
ul.pelicula {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
td, th {
    border-spacing: 0.5em;
    border-style: solid;
    border-radius: 0.5em;
    margin: 3em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
table {
    border-spacing: 1em;
    border-style: solid;
    border-radius: 1em;
    margin: 2em;
 }

 /*especificidad: a=0, b=0, c=1 -> 1*/
 td, th {
    background: #520080;
    color: white;
 }

/*especificidad: a=0, b=1, c=2 -> 12*/
ul.menu {
    padding: 0em;
    margin: 0.2em;
    color: #fff;
    background-color: #520080;
    border-radius: 2em;
}

/*especificidad: a=0, b=1, c=3 -> 13*/
ul.menu li a {
    font-size: 1.20em;
    margin: 0.25em;
    color: #fff;
    background-color: #520080;
    text-decoration: none;
    text-align: center;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
nav {
    width: 100%;
    align-items: center;
    justify-content: center;
}
