p, form, input, footer {
    position: relative;
}

form {
    border: 0.4em black solid;
    border-radius: 10%;
    width: 20em;
    text-align: center;
    background-color: white;
}

p.pantalla {
    width: 10em;
    border: 0.2em black dashed;
    border-radius: 10%;
    text-align: right;
    position: relative;
    left: 4em;
    padding: 0.7em 0.7em 0.7em 0.7em;
    background-color: white; 
}

input.opcion {
    font-weight: bold;
}

input {
    width: 4em;
    padding: 0;
}

footer {
    padding-top: 2em;
}

