/*especificidad: a=0, b=0, c=1 -> 1*/
main {
    margin: 2em;
    padding: 0.5em 3em;
}

/*especificidad: a=0, b=1, c=2 -> 12*/
h1, h2, h3, h4, h5, h6, ul.menu li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0.5em 3em;
    margin: 1em 1em;
    text-align: center;
    text-transform: uppercase;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h1, h3, h5 {
    font-stretch: semi-condensed;
    color: slateblue;
    background-color: transparent;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h2, h4, h6 {
    font-style: italic;
    color: slateblue;
    background-color: transparent;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h1 {
    font-size: 3em;
    letter-spacing: 0.5em;
    border: solid;
    border-radius: 2em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h2 {
    font-size: 2.5em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h3 {
    font-size: 2em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h4 {
    font-size: 1.5em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h5 {
    font-size: 1em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
h6 {
    font-size: 0.5em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
p, ul, ol, table {
    font-family: Verdana, Geneva, Tahoma, serif;
    font-size: 1em;
    color: black;
    text-align: justify;
}

/*especificidad: a=0, b=1, c=1 -> 11*/
a:link {
    color: rgb(99, 54, 248);
    text-decoration: none;
    border-bottom: 1px none rgb(99, 54, 248);
}

/*especificidad: a=0, b=1, c=1 -> 11*/
a:visited {
    color: rgb(177, 64, 197);
    text-decoration: none;
    border-bottom: 1px none rgb(177, 64, 197);
}

/*especificidad: a=0, b=0, c=1 -> 1*/
ul, ol {
    list-style-position: inside;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
ul {
    list-style: disc;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
ol {
    list-style-type: upper-roman;
}

/*especificidad: a=0, b=1, c=1 -> 11*/
ul.pelicula {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
td, th {
    border-spacing: 0.5em;
    border-style: solid;
    border-radius: 0.5em;
    margin: 3em;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
table {
    border-spacing: 1em;
    border-style: solid;
    border-radius: 1em;
    background: transparent;
    color: #fff;
    margin: 2em;
 }

 /*especificidad: a=0, b=0, c=1 -> 1*/
 td, th {
    background: slateblue;
    color: white;
 }

/*especificidad: a=0, b=1, c=2 -> 12*/

ul.menu li {
    padding: 0;
    margin: 0.2em;
    display: inline-flex;
    background-color: slateblue;
    border-radius: 2em;
}

/*especificidad: a=0, b=1, c=3 -> 13*/
ul.menu li a {
    font-size: 1.20em;
    margin: 1em;
    color: #fff;
    text-align: center;
}

/*especificidad: a=0, b=0, c=1 -> 1*/
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}