/*especificidad: a=0, b=1, c=2 -> 12*/
ul.masinfo li {
    padding: 0;
    margin: 0.2em;
    display: inline-flex;
    background-color: #520080;
    border-radius: 2em;
}

/*especificidad: a=0, b=1, c=3 --> 13*/
ul.masinfo li a {
    font-size: 1.20em;
    margin: 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

